:root{
  --cor0: #f2f2f2;
  --cor4: #B85A87;
  --cor5: #6B2A49;
  --cor3: #B8AF6C;
  --cor6: #927d43;
  --text: #2e2e2e;
}



body{
  background-color: #f2f2f2;
}

*{
  padding: 0;
  margin: 0;
}


header{
  text-align: center;
  color: white;
  background-color: #f2f2f2  ;
  text-shadow: 1px 1px 1px #000000c0;
  position: relative;
  top: 0;
}

#logoHeader, #logoFooter{
  filter: drop-shadow(5px 5px 10px #00000069);
  /* box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.37); */
}

main{
  text-align: center;
}

.title{
  margin-top: 15px;
}

.title, .nome{
  color: #b38a86;
}

#motivational{
  margin: 5px 0px;
  font-weight: 1500;
  font-size: 1.5em;
  font-variant: small-caps;
  background-color: #BEAE97;
  color: var(--cor0);
  padding: 1px 30px;
}

.eventTitle{
  font-weight: 200;
}

#explanation{
  margin: 30px 0px;
  color: var(--text);
  padding: 0px 30px;
}

#tobutton{
  margin-top: 25px;
  color: var(--text);
  padding: 0px 30px;
}

.buttonWppdiv{
  color: var(--cor0);
  background-color: #8f4d46ab;
  border-radius: 15px;
  padding: 7px 11px;
  width: fit-content;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  transition-duration: .5s;
}

.buttonWppdiv:hover{
  box-shadow: 2px 2px 1px #b85a8873;
}

.buttonWpp{
  font-size: 1.5em;
  text-decoration: none;
  color: var(--cor0);
  background-color: #00000000;
  border: none;
}

.confirmButton{
  font-size: 1em;
  text-decoration: none;
  color: var(--cor0);
  background-color: #8f4d46ab;
  border: none;
  padding: 7px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  transition-duration: 0.3s;
}

.confirmButton:hover{
  cursor: pointer;
  background-color: #af5e55ab;
}

.confirmButton:active{
  cursor: grabbing;
}
.confirmationModal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000007c;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.confirmationText{
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1001;
  margin: auto;
  height: fit-content;
  color: white;
  font-size: 1em;
}

.presentation{
  /* background-color: var(--cor6); */
  padding: 10px 30px;
}

#fotoNay{
  width: 70%;
  max-width: 350px;
  /* box-shadow: inset 0px -5px 10px #0000007e; */
  filter: drop-shadow(5px 5px 10px #000000a2);
}

#convencing{
  font-size: 1.5em;
  color: var(--cor0);
  padding: 0px 30px;
  margin-top: 20px;
}

#listinhaSexista{
  padding: 10px;
  list-style: none;
  color: var(--text);
}

li::before{
  content : "\200b";
}

li{
  margin-top: 10px;
  padding: 6px;
  border-radius: 5px;
  padding: 5px 30px;
}

li:nth-of-type(2n){
  background-color: #E5D2CB;
  border-radius: 20px 0px 20px 0px;
}

.convencing2{
  margin: 15px 0px;
  padding: 0px 30px;
  color: var(--text);
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  background-color: #a37e7a;
  color: var(--cor0);
  padding: 10px 0px;
  position: relative;
  bottom: 0;
}

.divisor{
  background-color: var(--cor0);
  height: 75px;
  width: 2px;
}

#logoFooter{
  width: 170px;
}

.itemFooter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 8px;
}

.linkFooter{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cor0);
  text-decoration: none;
  transition-duration: .5s;
  border-radius: 5px;
  padding: 1px 3px;
  margin-bottom: 2px;
}

.linkFooter:hover{
  box-shadow: 1px 1px 2px var(--cor0);
}

.eventTitle{
  color: var(--cor6);
}

@font-face {
  font-family: robotoRegular;
  src: url(../public/Roboto-Regular.ttf);
}

@font-face {
  font-family: montSerrat;
  src: url(../public/Montserrat-Regular.ttf);
}

@font-face {
  font-family: borel;
  src: url(../public/Borel-Regular.ttf);
}
.montserrat{
  font-family: montSerrat;
}

.roboto{
  font-family: robotoRegular;
}

.borel{
  font-family: borel;
}