:root{
  --cor0: white;
  --cor1: #A17872;
  --cor2: #06badd;
  --cor3: #0885a5;
  --cor4: #5e5e5e;
}

body{
  background-color: black;
}

*{
  padding: 0;
  margin: 0;
}


header{
  text-align: center;
  color: white;
  background-color: var(--cor1);
  text-shadow: 1px 1px 1px #000000c0;
  position: relative;
  top: 0;
}

main{
  text-align: center;
  color: white;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  background-color: #636363;
  color: white;
  padding: 10px 0px;
  position: relative;
  bottom: 0;
}

.divisor{
  background-color: white;
  height: 75px;
  width: 2px;
}


.itemFooter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 8px;
}

.linkFooter{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  transition-duration: .5s;
  border-radius: 5px;
  padding: 1px 3px;
  margin-bottom: 2px;
}

.linkFooter:hover{
  box-shadow: 1px 1px 1px var(--cor1);
}