:root{
  --cor0: #fff;
  --cor1: #48A9B8;
  --cor2 : #2F636B;
  --cor3: #B8AF6C;
  --cor4: #B85A87;
  --cor5: #6B2A49;
}

body{
  background-color: black;
}

*{
  padding: 0;
  margin: 0;
}


header{
  text-align: center;
  color: white;
  background-color: var(--cor5);
  text-shadow: 1px 1px 1px #000000c0;
  position: relative;
  top: 0;
}

main{
  text-align: center;
  color: white;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  background-color: var(--cor5);
  color: var(--cor0);
  padding: 10px 0px;
  position: relative;
  bottom: 0;
}

.divisor{
  background-color: var(--cor0);
  height: 75px;
  width: 2px;
}


.itemFooter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 8px;
}

.linkFooter{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cor0);
  text-decoration: none;
  transition-duration: .5s;
  border-radius: 5px;
  padding: 1px 3px;
  margin-bottom: 2px;
}

.linkFooter:hover{
  box-shadow: 1px 1px 1px var(--cor1);
}