:root{
  --cor0: #fff;
  --cor1: #48A9B8;
  --cor2: #2F636B;
  --cor4: #B85A87;
  --cor5: #6B2A49;
  --cor3: #B8AF6C;
  --cor6: #927d43;
  --text: #2e2e2e;
}

body{
  background-color: #ffffff;
}

*{
  padding: 0;
  margin: 0;
}


header{
  text-align: center;
  color: white;
  background-color: #fff  ;
  text-shadow: 1px 1px 1px #000000c0;
  position: relative;
  top: 0;
}

#logoHeader, #logoFooter{
  filter: drop-shadow(5px 5px 10px #00000069);
  /* box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.37); */
}

main{
  text-align: center;
}

.title{
  margin-top: 15px;
}

.title, .nome{
  color: var(--cor6);
}

#motivational{
  margin: 5px 0px;
  font-weight: 1500;
  font-size: 1.5em;
  font-variant: small-caps;
  background-color: var(--cor4);
  color: var(--cor0);
  padding: 1px;
}

#explanation{
  margin: 10px 0px;
  color: var(--text);
}

#tobutton{
  margin-top: 25px;
  color: var(--text);

}

.buttonWppdiv{
  color: var(--cor0);
  background-color: var(--cor6);
  text-decoration: none;
  border-radius: 15px;
  padding: 7px 11px;
  width: fit-content;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  transition-duration: .5s;
  box-shadow: 2px 2px 1px var(--cor3);
}

.buttonWpp{
  font-size: 1.5em;
  text-decoration: none;
  color: var(--cor0);
  background-color: #00000000;
  border: none;
}


label{
  display: block;
  margin-bottom: 8px;
}

.confirmButton{
  font-size: 1.5em;
  text-decoration: none;
  color: var(--cor0);
  background-color: var(--cor6);
  border: none;
  padding: 7px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.presentation{
  background-color: var(--cor5);
}

#fotoNay{
  width: 70%;
  max-width: 350px;
  /* box-shadow: inset 0px -5px 10px #0000007e; */
  filter: drop-shadow(5px 5px 10px #000000a2);
}

#convencing{
  font-size: 1.5em;
  color: var(--cor0);
  padding: 7px;
}

#listinhaSexista{
  padding: 10px;
  list-style: none;
}

#listinhaSexista li:before{
  content: '\2022';
  color: var(--cor6);
}


li{
  margin-top: 10px;
  padding: 6px;
  border-radius: 5px;
}

li:nth-of-type(2n){
  background-color: #cecece;
  border-radius: 0px 0px 35px 0px;
}

.convencing2{
  margin: 15px 0px;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  background-color: var(--cor5);
  color: var(--cor0);
  padding: 10px 0px;
  position: relative;
  bottom: 0;
}

.divisor{
  background-color: var(--cor0);
  height: 75px;
  width: 2px;
}

#logoFooter{
  width: 170px;
}

.itemFooter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 8px;
}

.linkFooter{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cor0);
  text-decoration: none;
  transition-duration: .5s;
  border-radius: 5px;
  padding: 1px 3px;
  margin-bottom: 2px;
}

.linkFooter:hover{
  box-shadow: 1px 1px 1px var(--cor1);
}

@font-face {
  font-family: robotoRegular;
  src: url(../public/Roboto-Regular.ttf);
}

@font-face {
  font-family: montSerrat;
  src: url(../public/Montserrat-Regular.ttf);
}

@font-face {
  font-family: borel;
  src: url(../public/Borel-Regular.ttf);
}
.montserrat{
  font-family: montSerrat;
}

.roboto{
  font-family: robotoRegular;
}

.borel{
  font-family: borel;
}